.firstSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90vh;
  

}

.imageHeadline{
  position: relative;
  flex: 1;

}

.headLine{
  width: 55%;
  display: flex;
  padding-left: 8.2rem;
  padding-bottom: 2rem;

}


.textHeadline{
  margin-top: 50px;
  width: 100%;
  align-self: auto;
  display: flex;
  flex-direction: column;


  h1{
    font-size: 4.8rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
  }
  h4{
    font: 700 2rem 'Roboto', sans-serif;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    
  }
  h3{
    font: 500 1.5rem 'Roboto', sans-serif;
    color: var(--gray-300);
    margin-top: 20px;

  }
  .buttonHeadline{
    display: flex;
    font: 700 1.1rem 'Roboto', sans-serif;
    background-color: var(--blue-500);
    color: white;
    width: 280px;
    height: 50px;
    margin-top: 25px;
    border: var(--blue-500);
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

  }
}

@media(max-width:600px) {

  .firstSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .imageHeadline{
    flex: 1;
    width: 100%;
    height: 50%;
    background-size: cover;
  }
  .headLine{
    width: 100%;
    z-index: 999;
    padding: 0;
    height: 50%;
    h1{
      font-size: 3rem;
      font-weight: 800;
      hyphens: auto;
    }
    h4{
      font-size: 1.3rem;
    }
    h3{
      margin: 0;
    }
  }
  .textHeadline{
    text-align: center;
    margin: 0px;
    align-items: center;


    .buttonHeadline{
      margin:5px 0;
      min-width: 40px;
      min-height: 50px;
      z-index: 9999;
      }
  
  }
}