.firstSection{
  text-align: center;
  width: 90%;
  margin: auto;
  h1{
    font-size: 1.5rem;   
    margin-top: 1.5rem;

  }
  h2{
    font-size: 3.5rem;
  }
  h3{
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  button{
    width: 270px;
    height: 52px;
    color: white;
    background-color: var(--blue-500);
    border: var(--blue-500);
    border-radius: 3px;
    font-weight: 700;
    margin:2rem 0rem;
  }
}



.itemSection{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-around;
 width: 100%;
 margin: 2rem 0rem;
}

.imageSection{
  width: auto;
}

.infoSection{
  width: 700px;
}