.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  .head{
    display: flex;
    width:100% ;
    height: 400px;
    background: url('../../public/bannerhead.jpg') no-repeat;
    background-position: right;
    background-size: contain;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(226, 223, 223);
    .title{
      text-align: center;

      h1{
        font-size: 3rem;
        text-transform: uppercase;
        
        
      }
      p{
        color: rgb(59, 59, 59);
        font-size: 1.5rem;
        
      }
    }
  }

  .moreAbout{
    font-size: 2.5rem;
    position: relative;
    margin: 2.5rem auto;
    text-transform: uppercase;
    text-shadow: 4px 4px 6px rgb(207, 205, 205);
    &::after{
      content: ' ';
      display: block;
      width: 300px;
      height: 6px;
      background-color:rgb(59, 156, 247);
      position: absolute;
      bottom: -10px;
      right:calc(50% - 300px / 2);

      
    }
  }
  .mean{
    display: flex;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
    .imageMean{
      position: relative;
      flex: 1;
      min-width: 400px;
      
    }
    .textMean{
      background-color: var(--blue-200);
      flex: 1;
      min-width: 400px;
      h1{
        font-size: 3.6rem;
        color: var(--blue-500);
      }
      span{
        font-size: 1.5rem;
        color: gray;
      }
      p{
        font-size: 1.5rem;
      }
    }
  }
  .firstSection{
    display: flex;
    flex-direction: column;


    .itemSection{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      align-items: center;
      align-content: center;
      justify-items: center;
      justify-content: space-between;
      margin: 2rem auto;
      background-color: rgba(255, 255, 255, 0.404);
      border-bottom: 1px solid rgb(218, 218, 218);
      padding-bottom: 2rem;



      .imageSection{
        position: relative;
        width: 400px;
        height: 300px;
        background:url('../../public/bannerhead.jpg');
        background-size: cover;
        box-shadow: 5px 5px 20px rgb(187, 186, 186);
        border-radius:8px;
        margin: 1rem;
        img{
          border-radius:8px
          
        }
  
      }
      .infoSection{
        width: 600px;

        h1{
          color: var(--blue-500);
        }
        h2{
          font-size: 3rem;
        }
        p{
          width: 80%;
        }
        button{
          color: white;
          font-family: 'Roboto';
          font-weight: 400;
          background-color: var(--blue-500);
          border: var(--blue-500);
          font-size: 1.2rem;
          width: 250px;
          height: 50px;
          margin-top: 1rem;
        }
      }
    }
  }

}

.rowReverse{
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: space-around;
  }

.secondSection{
  width: 100%;
  min-height: 500px;
  background-color: var(--blue-500);
  display: flex;
  color: white;
  flex-wrap: wrap;


  .imageSecondSection{
    position: relative;
    flex: 1;
    min-width: 370px;
    min-height: 370px;

  }
  .textSecondSection{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 2rem;

    h1{
      font-size: 3.8rem;
      margin: 2rem 0;
      text-align: center;
    }
    p{
      margin: 1rem 0;
      font-size: 1.3rem;
      text-align: center;
    }
    button{
      width: 250px;
      height: 80px;
      border: 1px solid white ;
      color: white;
      background-color: transparent;
      font-size: 1.2rem;
      margin-top: 1rem;
    }

  }
}

.felows{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 2rem 0;
  h1{
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0 ;
  }
  .company{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
      position: relative;
      width: 30%;
      height: 100px;
      color: white;
      background-color: rgb(255, 255, 255);
      border: 1px solid #cfeaff;
      box-shadow: 2px 2px 9px #b3deff;
      padding: 1rem;
      margin: 1px;

      
    }
    .alterColor{
      background-color: white;
      color: black;
    }
  }
}