
.contact{
  background: var(--blue-200);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  .imgContact{
    flex: 1;
    background-color: violet;
    background: url('../../../../public/woman-1.jpg');
    background-size: cover;
    height: 500px;
 
  }

  .itemsContact{
    min-width: 350px;

    flex: 1;
    h1{
      font-size: 2rem;
      font-weight: 900;
      max-width: 900px;
      margin-bottom: 30px;
      
    }
    button{
      background-color: var(--blue-500);
      width: 370px;
      height: 50px;
      color: white;
      border-color: var(--blue-500);
      border-radius: 3px;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
@media (max-width:600px) {
  .contact{
    .itemsContact{

      button{
        width: 50%;
      }
    }
    flex-direction: column;
    .imgContact{
      width: 100%;
      min-height: 300px;
      background-size: cover;


    }
  }
}