
.main{
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  hyphens: manual;
}

.firstSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8.2rem;
  margin-top: 1rem;
}

.imageHeadline{
  flex: 1;
  background:url('../../../public/touchid.png') no-repeat;
  background-size: 110%;


  


}

.headLine{
  width: 55%;
  display: flex;
}

.textHeadline{
  margin-top: 50px;
  width: 100%;
  justify-content: space-around;
  align-self: auto;

  h1{
    font-size: 3.5rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
  }
  h4{
    font: 700 1rem 'Roboto', sans-serif;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    
  }
  h3{
    font: 500 1.5rem 'Roboto', sans-serif;
    color: var(--gray-300);
    margin-top: 20px;

  }
  .buttonHeadline{
    font: 700 1.1rem 'Roboto', sans-serif;
    background-color: var(--blue-500);
    color: white;
    width: 280px;
    height: 50px;
    margin-top: 25px;
    border: var(--blue-500);

  }
}

.brands{
  margin-top: 50px;
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: var(--blue-200);
  padding: 1rem 7rem;
  p{
    font: 900 1.3rem 'Roboto', sans-serif;
  }
  .imgsBrands{
 
    height: 80%;
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    .brand{
      
      margin-top: 20px;
      p{
        font: 900 1rem 'Roboto', sans-serif;
        margin:5px 10px;
      }
      
      display: flex;
      width: 9%;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
    }

  }
}
.digitalServices{
  display: flex;
  padding: 1rem 5rem;
  word-wrap: break-word;
  align-content: center;
  justify-content: center;
  .textDigitalService{
    display: flex;
    flex-direction: column;
    align-content: center;

    h1{
      font-size: 2.5rem;
      text-align: center;
      font-weight: 900;
      margin: 20px 0;
      color: #000000;      
    }

  }
  .imageDigitalService{
    width:60%;
    height: 400px;
    background: url('../../../public/screenwhite.jpg') ;
    background-size: cover;
    background-position: center;

  }
  ul{
    padding-left: 74px;
    li{
      list-style-position: inside;
      font-size: 1.4rem;
      color: var(--gray-300);
      line-height: 2.3rem;
      
    }
  }
}
.consultFree{
  background-color: var(--blue-200);
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  
  p{
    font-size: 2rem;
    width: 70%;
    font-weight: 900;
    text-align: center;
    padding: 2rem 0;
  }
  button{
    width: 270px;
    height: 52px;
    color: white;
    background-color: var(--blue-500);
    border: var(--blue-500);
    border-radius: 3px;
    font-weight: 700;
  }
}


.examples{
  margin: 50px 0;
  padding: 0 50px;
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .models{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    .model{
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: var(--blue-200);
      flex: 1;
      text-align: center;
      margin: 0 10px;
      height: 250px;
      margin:40px;
      p{
        font-size: 3rem;
        font-weight: bold;
      }
      
    }
  }
}
.depoiment{
  background-color: var(--blue-200);
  padding: 20px 100px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  .titleDepoiment{
    font-size: 1.3rem;
    font-weight: 700;
  }
  .contentDepoiment{
    font-style: italic;
    width: 70%;
    align-items: center;
    margin: auto;
  }
  .nameDepoiment{
    font-weight: 700;

  }

  
}

.listServices{
  display: flex;
  flex-direction: column;
  padding:  0 100px;
  margin: 30px 0 80px 0;
  h1{
    margin:20px auto;
    font-size: 3rem;
    text-align: center;

  }
  h2{
    margin: 10px;
  }
  .service{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
    
    .itemService{
      text-align: center;
      width: 20%;
      min-width: 250px;
      margin: 0 20px;
    
    }
  }
}


.contact{
  background: var(--blue-200);
  .imgContact{
    background-color: violet;
    background: url('../../../public/imgContact.png');
    height: 500px;
    width: 50%;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  .itemsContact{

    flex: 1;
    h1{
      font-size: 2rem;
      font-weight: 900;
      max-width: 900px;
      margin-bottom: 30px;
    }
    button{
      background-color: var(--blue-500);
      width: 370px;
      height: 50px;
      color: white;
      border-color: var(--blue-500);
      border-radius: 3px;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
@media(max-width:600px) {

  .firstSection{
    padding: 0 0.5rem;
    display: flex;
  }
  .imageHeadline{
    display: none;
  }
  .headLine{
    width: 100%;
    h1{
      font-size: 3rem;
      font-weight: 800;
      hyphens: auto;
    }
  }
  .textHeadline{
    text-align: center;
    margin-top: 0;

    .buttonHeadline{

      z-index: 9999;
      }
  
  }
  .brands{
    display: none !important;
  }
.digitalServices{
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  .imageDigitalService{
    width: 100%;
  }
  
}
.consultFree{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.examples{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  .models{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    .model{
      background-color: var(--blue-200);
      flex: 1;
      text-align: center;
      min-height: 200px;
      margin:20px;
      
    }
  }
  
}
.depoiment{
  display: flex;
  flex-direction: column;
  padding: 1rem ;
}
.listServices{
  padding: 1rem;
}

.contact{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .imgContact{
    background-color: violet;
    background: url('../../../public/imgContact.png') no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    width: 100% ;
  }
}
  
}