
.main{

  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  hyphens: manual;
}

.consultFree{
  background-color: var(--blue-200);
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;

  
  p{
    font-size: 2rem;
    width: 70%;
    font-weight: 900;
    text-align: center;
    padding: 2rem 0;
  }
  button{
    width: 270px;
    height: 52px;
    color: white;
    background-color: var(--blue-500);
    border: var(--blue-500);
    border-radius: 3px;
    font-weight: 700;
  }
}

@media(max-width:600px) {
 
 .consultFree{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100vw;
  margin: auto;
 }
}