.main{
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  overflow-wrap: break-word;
  hyphens: manual;
}
.firstSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 150px ;
}
.imageHeadline{
  background: rgba($color: #000000, $alpha: 0.2);

}

.headLine{
  width: 60%;
  display: flex;
  
}

.textHeadline{
  margin-top: 50px;
  width: 100%;
  justify-content: space-around;
  align-self: auto;

  h1{
    font-size: 4rem;
    font-weight: 900;
  }
  h2{
    font-size: 2rem;
    margin-top: 20px;
  }
  h3{
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 100;
  }
  button{
    background-color: var(--purple);
    color: white;
    width: 200px;
    height: 58px;
    margin-top: 25px;

  }
}
.devices{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  word-wrap: break-word;

div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  h1{
    font-size: 3rem;
    width: 50%;
    

  }
  p{
    font-size: 1.3rem;
    line-height: 2.7rem;
    font-weight: 400;
    padding-top: 5px;
    width: 50%
    
  }

}
  img{
    width: 200px;
    
  }
}

.listServices{
  display: flex;
  flex-direction: column;
  h1{
    margin:20px auto;
    font-size: 3rem;
    text-align: center;

  }
  .service{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    
    .itemService{
      text-align: center;
      width: 33%;
      min-width: 300px;
    
    }
  }
}


.examples{
  margin: 100px 0;
  h1{
    font-size: 4rem;
    text-align: center;
  }
  .models{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    .model{
      background-color: var(--gray-300);
      flex: 1;
      text-align: center;
      margin: 0 10px;
      height: 400px;
      
    }
  }
}

.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  h1{
    font-size: 4rem;
    font-weight: 900;
    max-width: 900px;
  }
  button{
    background-color: var(--purple);
    width: 200px;
    height: 60px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

@media(max-width:720px){
.imageHeadline{
  display: none;
}
.headLine{
  width: 100%;
  h1{
    font-size: 3rem;
    font-weight: 800;
    hyphens: auto;
  }
}
.devices{
  div{
    flex-direction: column;
    h1{
      width: 100%;
    }
    p{
      width: 100%;
    }
  }
}
.models{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.model{
  height: 200px;
  background-color: sandybrown;
}


.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  h1{
    font-size: 4rem;
    font-weight: 900;

  }
  button{
    background-color: var(--purple);
    width: 200px;
    height: 60px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
}