
.digitalServices{
  display: flex;
  padding: 1rem 5rem;
  word-wrap: break-word;
  align-content: center;
  justify-content: center;
  .textDigitalService{
    display: flex;
    flex-direction: column;
    align-content: center;

    h1{
      font-size: 2.5rem;
      text-align: center;
      font-weight: 900;
      margin: 20px 0;
      color: #000000;      
    }

  }
  .imageDigitalService{
    width:60%;
    height: 400px;
    background: url('../../../../public/screenwhite.jpg') ;
    background-size: cover;
    background-position: center;

  }
  ul{
    padding-left: 74px;
    li{
      list-style-position: inside;
      font-size: 1.4rem;
      color: var(--gray-300);
      line-height: 2.3rem;
      
    }
  }
}