
.container{
  display: flex;
  padding: 1rem 5rem;
  word-wrap: break-word;
  align-content: center;
  justify-content: center;
  border: 1px solid gray;
  h1{
    text-align: center;
  }
}
.box{
  display:flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(209, 19, 19);
}
.content{

  display: flex;
  justify-content: space-around;
}
.titleCard{

  border-radius: 8px;
}
.card{

  text-align: center;
  border-radius: 8px;
  width: 300px;
  border: 1px solid black;
}
.imageCard{
  width: 2rem;
  height: 2rem;
  margin: auto;
 

  background-color: chartreuse;
}
.footerCard{

  width: 100%;
  height: 2rem;
  border-radius: 8px;
}