

.examples{
  margin: 50px  0 100px 0;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .models{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

    .model{
      z-index: 0;
      position: relative;
      background-color: var(--blue-200);
      height: 250px;
      margin:40px;

    }

  }
}

.imgBackground{

  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 8px;
  box-shadow: 3px 3px 6px;

  img{
    width: 100px;
    height: 100px;
  }
}

.background{
  position: absolute;
  z-index: -33;
  top: 10px;
  left: 10px;
  width: 350px;
  height: 320px;
  border-radius: 8px;

}