

.container{
  background: url('../../../../public/bg-tech.jpg');
  background-size: cover;
  text-align: center;
  h2{
    font-size: 3.5rem;
    margin-top: 2rem;
  }
  .box{
    margin-bottom: 2rem ;
    h1{
      font-family: 'Roboto';
      color: rgb(29, 29, 29);
      font-weight: bolder;
      font-size: 4.5rem;

    }
    p{
      font-size: 2rem;
      font-weight: 400;

      
    }
  }
}